.input {
	padding: 10px;
	font-size: 20px;
	border-radius: 12px;
	border: 1px solid rgb(209, 154, 163);
	color: rgb(209, 154, 163);
	width: 275px;
}

.add__btn {
	color: rgb(209, 154, 163);
	background-color: white;
	padding: 5px;
	font-size: 25px;
	border-radius: 20px;
	margin-left: 10px;
	border: 1px solid rgb(209, 154, 163);

	transition: 0.2 s;
}

.add__btn:hover {
	font-weight: bold;
	color: white;
	background-color: rgb(209, 154, 163);
}
