.btn {
	color: rgb(212, 124, 139);
	background-color: white;
	border: 1px solid rgb(209, 154, 163);

	transition: 0.2s;
}

.add__btn {
	padding: 5px;
	font-size: 25px;
	border-radius: 20px;
	margin-left: 10px;
}

.add__btn:hover {
	font-weight: bold;
	color: white;
	background-color: rgb(209, 154, 163);
}

.edit__btn {
	padding: 0px 10px;
	font-size: 15px;
	border-radius: 5px;
	margin: 10px 0;
}

.edit__btn:hover {
	font-weight: bold;
	background-color: rgb(209, 154, 163);
}

.delete__btn {
	padding: 0px 10px;
	font-size: 15px;
	border-radius: 5px;
	margin: 10px 5px;
}

.delete__btn:hover {
	font-weight: bold;
	color: white;
	background-color: rgb(209, 154, 163);
}

.filter__btn {
	color: rgb(209, 154, 163);
	background-color: white;
	padding: 0px 25px;
	font-size: 20px;
	border-radius: 12px;
	margin-left: 10px;
	border: 1px solid rgb(209, 154, 163);
	margin-bottom: 10px;

	transition: 0.2 s;
}

.filter__btn:hover {
	font-weight: bold;
	color: white;
	background-color: rgb(209, 154, 163);
}

.active__btn {
	color: white;
	background-color: rgb(209, 154, 163);
	font-weight: bold;
	padding: 0px 25px;
	font-size: 20px;
	border-radius: 12px;
	margin-left: 10px;
	border: 1px solid rgb(209, 154, 163);
	margin-bottom: 10px;

	transition: 0.2 s;
}
