.empty {
	border: 1px solid white;
	border-radius: 12px;
	min-height: 280px;
	width: 370px;
	color: rgb(209, 154, 163);
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-top: 20px;
}
