.todo__item {
	display: flex;
	align-items: center;
}

input[type="checkbox"] {
	display: none;
}

.customCheckbox {
	width: 20px;
	height: 20px;
	border: 2px solid rgb(209, 154, 163);
	background-color: white;
	border-radius: 5px;
	display: inline-block;
	position: relative;
	margin-left: 5px;
}

.customCheckbox::after {
	content: "✔";
	color: rgb(209, 154, 163);
	position: absolute;
	bottom: -2px;
	right: 2px;
	font-size: 16px;

	opacity: 0;
	transition: 0.2s;
}

input:checked + .customCheckbox::after {
	opacity: 1;
}

.customCheckbox:hover {
	color: rgb(243, 217, 217);
}

.item {
	color: rgb(209, 154, 163);
	background-color: white;
	padding: 10px;
	font-size: 20px;
	border-radius: 12px;
	border: 1px solid rgb(209, 154, 163);
	width: 250px;
	margin: 5px;
}

.item__completed {
	text-decoration: line-through;
}
